*{
    margin: 0.1em;
    padding: 0.1em;
}
.PCR{
    text-align: center;
}
body{
    background-color: #eb984e;
}
.navbar-nav {
    float: left;
    margin: 0;
    left: 50%;
    transform: translatex(-50%);
    position: relative;
}
.row div{
    margin: auto;
}

#caja1, #caja2, #caja3{
    height: 400px;
    width: 410px;
    border: 5px solid grey;
    border-radius: 10%;
    text-align: center;
}