* {
    margin: 0.1em;
    padding: 0.1em;
}

.PCR {
    text-align: center;
}

body {
    background-color: #eb984e;
}

.navbar-nav {
    float: left;
    margin: 0;
    left: 50%;
    transform: translatex(-50%);
    position: relative;
}

.row div {
    margin: auto;
}

h1,
h2 {
    text-align: center;
    padding: 0.8em;
}

div {
    padding: 1em;
}

#caja1,
#caja2,
#caja3 {
    padding: 0.6em;
    height: 200px;
    width: 210px;
    text-align: center;
}

#caja4,
#caja5,
#caja6 {
    margin: auto;
    padding: 0.6em;
    border: solid grey;
    border-radius: 5%;
    align-content: center;
}

#caja4 {
    height: auto;
    width: 750px;
}

#caja5 {
    height: auto;
    width: 750px;
}

#caja6 {
    height: auto;
    width: 750px;
}

#p1,
#p2,
#p3 {
    margin: 0.5em;
    padding: 0 5em;
}

#boton1,
#boton2,
#boton3 {
    height: 100px;
    width: 210px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}